<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}Rock Paper Scissors{%endblock%}</title>
        <!--Latest compiled and minified css-->
        <link rel="stylesheet" href="http://scottsgame.com">
        <link rel="shortcut icon" href="rps_homework/favicon">
    </head>
    <body>
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                {%block content%}{%endblock%}
                </div>
            </div>
        </div>
        <!--latest compiled and minified python -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
        <script src="http://scottsgame.com/"></script>
    </body>
</html>

